// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// (i) Підключення налаштувань, міксинів та розширень (файл includes/index.scss) відбувається автоматично до усіх SCSS файлів в проєкті
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@forward "@/styles/libs/reset.css";
@forward "@/styles/settings.scss";
@forward "mixins";
@forward "extends";
