@use "@/styles/includes" as *;

.menu {
}
.menu-list {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: toRem(10) toRem(20);
}
.menu-item {
}
.menu-link {
	letter-spacing: -0.01rem;
	color: #2a303c;
	transition: color 0.3s;
	font-weight: 500;
	position: relative;
	line-height: 1.3;
	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: toRem(2);
		bottom: 0;
		left: 0;
		border-radius: toRem(5);
		background-color: $blueColor;
		transition: width 0.3s;
	}
	&.active {
		color: $blueColor;
	}
	@media (any-hover: hover) {
		&:hover {
			color: $blueColor;
			&::before {
				width: 100%;
			}
		}
	}
}
