@use "sass:math";
@use "./includes" as *;
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;

	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="-container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: #{$maxWidthContainer}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.title {
	font-weight: 700;
	font-size: toRem(36);
	line-height: 1.33;
	letter-spacing: -0.02em;
}
.button {
	display: inline-flex;
	column-gap: toRem(8);
	align-items: center;
	border-radius: toRem(6);
	padding: toRem(12) toRem(16);
	background-color: $blueColor;
	color: #fff;
	font-weight: 600;
	letter-spacing: -0.01rem;
	color: #f6f8f9;
	transition: background-color 0.3s;
	&:disabled {
		cursor: default;
		background-color: lightgray;
	}
	@media (any-hover: hover) {
		&:hover:not(:disabled) {
			background-color: $blueColorHover;
		}
	}
	&-green {
		background-color: #14dd3f;
	}
	&-red {
		background-color: #ec5962;
		@media (any-hover: hover) {
			&:hover:not(:disabled) {
				background-color: #fa5f6a;
			}
		}
	}
	&-icon {
		&::after {
			content: "";
			background: url("@/assets/icons/arrow.svg") center / contain no-repeat;
			width: toRem(12);
			aspect-ratio: 1;
			flex-shrink: 0;
			transform: rotate(-90deg);
			transition:
				translate 0.3s,
				rotate 0.3s;
		}
		@media (any-hover: hover) {
			&:hover:not(:disabled) {
				&::after {
					translate: toRem(3) 0;
				}
			}
		}
	}
	&-plus {
		&::after {
			background-image: url("@/assets/icons/plus.svg");
		}
		@media (any-hover: hover) {
			&:hover:not(:disabled) {
				&::after {
					translate: 0 0;
					rotate: 90deg;
				}
			}
		}
	}
}

.input {
	border: toRem(2) solid #dde2e4;
	border-radius: toRem(6);
	box-shadow: 0 toRem(1) toRem(2) 0 rgba(16, 24, 40, 0.05);
	letter-spacing: -0.01em;
	color: #9aa6ac;
	transition: border-color 0.3s;
	outline: none;
	padding: toRem(8) toRem(12);
	color: $darkColor;
	line-height: 1.3;
	&::placeholder {
		transition: opacity 0.3s;
	}
	@media (any-hover: hover) {
		&:focus {
			border-color: $blueColor;
			&::placeholder {
				opacity: 0;
			}
		}
	}
}

.select {
	display: block;
	border: toRem(2) solid #dde2e4;
	border-radius: toRem(6);
	width: 100%;
	height: toRem(40);
	padding-inline: toRem(12);
	box-shadow: 0 toRem(1) toRem(2) 0 rgba(16, 24, 40, 0.05);
	letter-spacing: -0.01em;
	padding: toRem(8) toRem(12);
	padding-right: toRem(36);
	color: $darkColor;
	transition: border-color 0.3s;
	outline: none;
	font-size: 16px;
	@media (any-hover: hover) {
		&:focus {
			border-color: $blueColor;
		}
	}
}

textarea.input {
	resize: none;
	min-height: toRem(120);
}

.info {
	display: inline-block;
	font-weight: 500;
	font-size: toRem(14);
	border-radius: toRem(4);
	padding: toRem(4) toRem(8);
	color: #6e7c87;
	background-color: #e4e5e3;
	opacity: 0;
	animation: smoothShow 0.3s forwards;
	&-success {
		color: #4f9c20;
		background-color: #ebfae2;
	}
}

@keyframes smoothShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
