@use "@/styles/includes/" as *;

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: toRem(6);
	padding: toRem(16);
	background-color: #fff;
	box-shadow:
		0 5px 3px -2px rgba(0, 0, 0, 0.02),
		0 3px 2px -2px rgba(0, 0, 0, 0.06);
	& > * {
		margin-bottom: toRem(6);
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}
.card-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5;
	color: #1a1919;
}
.card-text {
	line-height: 140%;
	letter-spacing: -0.01rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: toRem(5);
}
.card-year,
.card-fried {
	line-height: 1.3;
	span {
		font-weight: 600;
	}
}
.card-year {
	margin-bottom: toRem(2);
}
.card-fried {
	flex-grow: 1;
}
.card-status {
	border-radius: 4px;
	padding: 6px 8px;
	font-weight: 500;
	font-size: 12px;
	color: #6e7c87;
	background-color: #e4e5e3;
	display: inline-block;
	text-transform: uppercase;
	&.blue {
		color: #2f6fb2;
		background-color: #eaf3fb;
	}
	&.yellow {
		color: #b8860b;
		background-color: #fff6dc;
	}
	&.green {
		color: #4f9c20;
		background-color: #ebfae2;
	}
}
.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: toRem(10);
	font-weight: 600;
	margin-bottom: toRem(15);
}
.card-date {
}
.card-actions {
	display: flex;
	flex-wrap: wrap;
	column-gap: toRem(10);
}
