@use "@/styles/includes/index.scss" as *;

.header {
	border-bottom: toRem(1) solid $grayColor;
}
.header-container {
	min-height: toRem(65);
	padding-block: toRem(15);
	display: flex;
	align-items: center;
	column-gap: toRem(15);
	justify-content: space-between;
}
.header-logo {
	font-weight: 600;
	font-size: toRem(18);
	line-height: 1.33;
	letter-spacing: -0.01rem;
	transition: color 0.4s;
	@media (any-hover: hover) {
		&:hover:is(a) {
			color: $blueColor;
		}
	}
}
